body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F8EEE7  ;

 text-align: center;
}

header{
    background-color: #94618E;
    color: #F4DECB;
    padding: 20px;
    text-align: center;
}

h2{
    color: #49274A;
}

.links_social ul{
    list-style-type: none;
    padding: 0;
    list-style-type: none;
  font-weight: bold;
  text-decoration: underline;

}

.links_social li a{
    color: #49274A;
    text-decoration: none;

}

.current-time p {
    font-weight: bold;
}

.photos img{
width: 100%;
max-width: 200px;
margin: 10px;
border-radius: 25px 25px 0px 0;
border: 4px solid #49274A;

}

.fa-clock {
    color: #49274A;
    margin-right: 5px;
}
